# 忽略Snake_Cpp_Refactoring项目的配置文件
/Snake_Cpp_Refactoring/config.ini
# 忽略Qt贪吃蛇的项目的配置文件
/Snake_Qt/config.ini
# 忽略pyqt5版本贪吃蛇项目的配置文件
/Snake_PyQt/config.ini
# 忽略pyqt5版本贪吃蛇项目的虚拟环境
/Snake_PyQt/env
# 忽略python项目所有的pyc文件
*.pyc
# 忽略vscode的配置文件
/.vscode
# 忽略Snake_Cpp的生成文件
/Snake_Cpp/build