# 忽略vscode的配置文件
.vscode

# 忽略python项目所有的pyc文件
*.pyc

# 忽略snake_c的生成文件
snake_c/build

# 忽略snake_cpp的生成文件
snake_cpp/build

# 忽略snake_cs的obj文件夹
snake_cs/obj
# bin
snake_cs/bin

# 忽略snake_cpp_refactoring的生成文件
snake_cpp_refactoring/build
# 忽略snake_cpp_refactoring项目的配置文件
snake_cpp_refactoring/config.ini

# 忽略snake_pyqt5项目的配置文件
snake_pyqt5/config.ini
# 忽略snake_pyqt5项目的虚拟环境
snake_pyqt5/env

# 忽略snake_qt5项目的配置文件
snake_qt5/config.ini
# 忽略snake_qt5的生成文件
snake_qt5/build